Day4_NewsDigest.json
{
  "name": "Daily Placement News Digest",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.naukri.com/blog/feed/",
        "options": {
          "customFields": "5"
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "9845f6c3-eeb8-4506-a549-2d583b09cb84",
      "name": "RSS Read",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize these news headlines into 5 short bullet points for a placement mentor:\\n\\n{{ $json.prompt }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "8042cdef-77f8-4e74-b714-c9e9d12380e8",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "dedc1891-8a98-42aa-9ca5-94428783d68e",
      "name": "Limit",
      "retryOnFail": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "fromEmail": "durgaprasadsetti12@gmail.com",
        "toEmail": "durgaprasadsetti12@gmail.com",
        "subject": "Placement News Digest",
        "emailFormat": "text",
        "text": "=Good morning. Today's placement news digest:\n\n{{ $json[\"choices\"][0][\"message\"][\"content\"] }}\n\nSent automatically by n8n at 7:00 AM IST.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        784,
        0
      ],
      "id": "e0e4e665-9aac-47f2-ad54-cef4cf20985e",
      "name": "Send an Email",
      "webhookId": "f54c651f-dad0-4eab-bc36-3aadf02cd39b",
      "credentials": {
        "smtp": {
          "id": "0nphlBzVXxMi2TY8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 23 5 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "76013e2b-7405-41f8-8cc5-b56c28df588f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b31fafbc-6bf3-4782-aa03-ecd258ce489a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69fcbfaa5531f7ea2525623a73b907976e3b886afb057bb79f9600b90193205e"
  },
  "id": "zHPeAab1Y2b4XKmh",
  "tags": []
}